.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner {
    padding: var(--padding);
    border-radius: 0px 0px 6px 6px;
    margin-top: var(--header-height);
    width: 100%;
}
